body {
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
}

table {
  margin-top: 40px;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}

td {
  font-size: 34px;
  border: 2px solid #000000;
  padding: 20px;
  width: 40px;
  height: 40px;
}

.wrapper {
  text-align: center;
}

.game-title {
  padding-top: 20px;
}

.button {
  visibility: hidden;
  margin-top: 40px;
  margin-bottom: 40px;
}
